*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, a:visited {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #000000; }

.primary-heading {
  font-size: 4.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.secondary-heading {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.button {
  background-color: #32c5d2;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  border: none; }

.header {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content 1fr repeat(3, min-content);
  align-items: center;
  padding: 2rem 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }
  .header__site-logo {
    grid-row: 1/-1;
    grid-column: 1/2;
    color: black;
    font-size: 2.8rem;
    text-transform: uppercase; }
  .header__nav {
    grid-column: 3/4; }
  .header__menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content); }
  .header__menu-item {
    font-size: 1.5rem;
    margin-left: 3rem;
    text-transform: uppercase; }
  .header__menu-link {
    display: inline-block;
    color: #000000; }
    .header__menu-link:hover {
      color: #32c5d2; }

.hero {
  height: 76vh;
  background-image: url("../img/hero-1.jpg");
  background-size: cover;
  position: relative; }
  .hero__heading {
    width: 40%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%); }

.features {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem; }
  .features__icon {
    color: #32c5d2;
    margin-bottom: 3rem; }
  .features__heading {
    margin-bottom: 3rem; }
