.content-grid{
    display:grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 50%);
    color: #ffffff;
    &__item{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        
        &--1{
            background-color: #32c5d2;
        }
        &--2{
            background-color: #7a6a61;
        }
        &--3{
            background-color: #e7505a;
        }
        &--4{
            background-color: #32c5d2;
        }
        
    }
    &__desc{
        padding: 3rem;
        text-align: center;
        display: grid;
        justify-items:center;
        align-items:center;
    }
    &__heading{
        text-transform: uppercase;
        
    }
    &__paragraph{
      
    }
    &__button{
        background-color: transparent;
        padding: 0.6rem 1.8rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        margin: 1rem 0;
        color: #ffffff;
        border: 0.1rem solid #ffffff;
        
        
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
            background-color: #ffffff;
            color: rgb(0,0,0);
        }
        
    }
    &__img-container{
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    &__img-container:hover &__hover-box{
        
        transform: translateY(0);
        transition: 0.5s;
    }
    &__figure{
        
        height: 24rem;
        
    }
    &__img{
        width: 100%;
        display: block;
    }
    &__hover-box{
      
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        transform: translateY(-100%);
 
    }
    &__link{
        position: absolute;
        top:50%;
        display: block;
        height: 4.4rem;
        width: 4.4rem;
        border-radius: 50%;
        background-color: rgb(0,0,0);
        opacity: 0.7;
        color: #ffffff;
        display: grid;
        justify-items:center;
        align-items: center;
        &--1{
            left:35%;
        }
        &--2{
            right:35%;
        }
        
        &:hover{
            opacity: 1;
            transition: 0.1s;
        }
    }
}