.hero{
    height: 76vh;
    background-image: url('../img/hero-1.jpg');
    background-size: cover;
    position: relative;
    
    
    &__heading{
        
        width: 40%;
        text-align:center;
        color: $color-text-white;
        
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    
    &__button{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform:translateX(-50%);
    }
}

.features{
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    
    &__item{
        
    }
    &__icon{
        color: $color-primary;
        margin-bottom: 3rem;
    }
    &__heading{
        margin-bottom: 3rem;
    }
    &__desc{
        
    }
}